<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--活动配置，每条活动以‘|’号隔开，误差范围内会随机选择配置的信息和图片显示，具体活动配置为：误差范围开始-误差范围结束$显示信息1#显示信息2#显示信息N$显示图片1#显示图片2#显示图片N-->
    <add key="Discounts" value="0-0$你真是个天选之人，本单免单！#锦鲤现身，给我免单$\Image\DiscountFree.gif
         |0.01-0.05$差一点，你就是我的女人，本单9折！#9折折折$\Image\Discount95.gif
         |0.06-0.10$世界上最遥远的距离是我在10秒，而你却在9.9秒，本单9.5折！#95折也不错$\Image\Discount95.gif"/>

    <!--主页背景图-->
    <add key="MainBg" value="\Image\mainBg.gif"/>
    
    <!--默认没折扣信息-->
    <add key="DefaultNoDiscount" value="喝一杯草本茶补充点运气吧！#喝一杯草本茶，运气满满！$\Image\DiscountNo.gif"/>
  </appSettings>
</configuration>